<!DOCTYPE html>
<html>
<head>
    <title>Engineer Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
</head>
<body>
    <h2>Welcome to Engineer Dashboard!</h2>
    <p>
        <a href="/reported_scooters_page">View Reported Scooters' Locations</a>
    </p>
    <p>
        <a href="/repair_status_page">Update repair statuses</a>
    </p>
    <p>
        <a href="/engineer_lock_unlock">Lock and Unlock scooters</a>
    </p>
    <p>
        <a href="/logout">Logout</a>
    </p>
</body>
</html>
