<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
</head>
<body>
    <h2>Welcome to Admin Dashboard!</h2>
    <p>
        <a href="/add_scooter">Add Scooter</a>
    </p>
    <p>
        <a href="/create_user_page">Add Customer</a>
    <p>
        <a href="/view_all_scooters">View All Scooters</a>
    </p>
    <p>
        <a href="/customer_detail">View Customers</a>
    </p>
    <p>
        <a href="/logout">Logout</a>
    </p>
</body>
</html>
